@{
    ViewBag.Title = "Registration Successful";
}

<h2>Registration successful.</h2>
<h3>Before you can Login, please confirm your email, by clicking on the confirmation link we have emailed you</h3>
